html {
    font-family: "Roboto";
    scroll-behavior: smooth;
}

body {
    background: white;
}

/* ------------------- */

div.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgb(0, 0, 0, 0.700)), url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-attachment: fixed;
    height: 600px;
    width: 1400px;
    margin: auto;
    position: relative;
}

div.header-first-triangle {
    width: 0; 
    height: 0; 
    border-bottom: 100px solid white; 
    border-right: 700px solid transparent;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
}

div.header-second-triangle {
    width: 0; 
    height: 0; 
    border-bottom: 100px solid white; 
    border-left: 700px solid transparent; 
    position: absolute;
    bottom: 0;
    right: 0;
}

div.header-info {
    width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 30px;
    position: absolute;
}

a.header-main-link {
    text-decoration: none;
}

p.header-title {
    font-size: 36px;
    font-weight: 300;
    color: rgba(66, 79, 87, 1);
    line-height: 36px;
    margin: 40px 0 40px 200px ;
}

p span {
    color: rgba(20, 175, 202, 1);
    font-weight: 900;
    line-height: 36px;
}

ul.header-menu {
    list-style-type: none;
    text-align: center;
}

ul li {
    display: inline;
}

a.header-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: rgba(62, 76, 78, 1);
    margin-right: 40px;
}

a.header-menu-link:hover {
    color: rgba(20, 175, 202, 1);
}

li:first-child {
    margin-left: 140px;
}

li:last-child {
    margin-right: 0;
}

p.header-paragraph {
    color: rgba(255, 255, 255, 1);
    font-size: 52px;
    line-height: 75px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 220px;
}

/* ------------------- */

div.body-first-section {
    width: 1400px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
}

div.first-section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    width: 1000px;
    margin: auto;
    margin-top: 60px;
}

h2.first-section-title {
    color: rgba(20, 175, 202, 1);
    font-size: 60px;
    line-height: 40px;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

p.first-section-paragraph {
    color: rgba(66, 79, 87, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

p.first-section-second-paragraph {
    color: rgba(66, 79, 87, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

/* ---------------------- */

div.body-second-section {
    width: 1400px;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.900), rgb(0, 0, 0, 0.900)), url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-attachment: fixed;
    height: 715px;
    margin-top: 100px;
    position: relative;
}

div.second-body-triangle {
    width: 0; 
    height: 0; 
    border-top: 100px solid white; 
    border-right: 700px solid transparent; 
    position: absolute;
    top: 0;
    right: 0;
}

div.first-body-triangle {
    width: 0; 
    height: 0; 
    border-top: 100px solid white; 
    border-left: 700px solid transparent;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}

div.second-section-info {
    width: 600px;
    margin: auto;
    padding-top: 100px;
}

h2.second-section-title {
    color: rgba(20, 175, 202, 1);
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    margin-top: 40px;
}

p.second-section-paragraph {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    text-align: center;
}

a.logo-link {
    text-decoration: none;
}

div.second-section-main-content {
    display: grid;
    grid-template-columns: repeat(4, 225px);
    grid-template-rows: repeat(2, 100px);
    justify-content: center;
    row-gap: 100px;
    column-gap: 30px;
    margin-top: 50px;
}

div.adobe-section-logo {
    background-color: rgba(252, 251, 251, 1);
}

img.adobe-logo-style {
    padding-top: 17px;
    padding-left: 16px;
}

img.adobe-logo-style-2 {
    padding-top: 17px;
}

img.second-section-logo-style {
    padding-left: 5px;
    padding-top: 25px;
}

img.deviantart-logo-style {
    padding-left: 5px;
}

img.flickr-logo-style {
    padding-left: 25px;
    padding-top: 25px;
}

/* ------------------------ */

div.body-third-section {
    width: 1400px;
    margin: auto;
    height: 600px;
}

div.third-section-content {
    margin: auto;
    margin-top: 130px;
    width: 1100px;
    height: 500px;
}

h2.third-section-title {
    color: rgba(20, 175, 202, 1);
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

p.third-section-paragraph {
    color: rgba(66, 79, 87, 1);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.9px;
    margin-bottom: 30px;
}

div.third-section-card {
    width: 280px;
}

img.card-img {
    padding: 20px 35px;
}

p.card-info {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.9px;
    line-height: 28px;
}

div.third-section-about-card {
    display: flex;
    justify-content: space-around;
}

a.card-link {
    text-decoration: none;
}

/* ----------------------- */

div.body-fourth-section {
    width: 1400px;
    margin: auto;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgb(0, 0, 0, 0.700)), url(../img/bg3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%, cover;
    position: relative;
}


div.fourth-section-title {
    width: 900px;
    margin: auto;
}

h2.fourth-section-main-title {
    color: rgba(20, 175, 202, 1);
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 0.9px;
    text-align: center;
    padding-top: 190px;
}

p.fourth-section-title-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1.9px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 20px;
}

p.fourth-section-main-paragraph {
    color: rgba(211, 204, 204, 1);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.9px;
    text-align: center;
    padding-top: 50px;
}

h3.fourth-secton-span {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    padding-top: 20px;
    padding-right: 80px;
}

/* ------------- */

div.footer {
    width: 1400px;
    margin: auto;
    margin-top: 40px;
}

div.footer-content {
    width: 830px;
    margin: auto;
}

h2.footer-title {
    text-align: center;
    color: rgba(20, 175, 202, 1);
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 1.5px;
    font-weight: 700;padding-top: 10px;
}

p.footer-title-text {
    color: rgba(66, 79, 87, 1);
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 40px;
    padding-top: 15px;
}

p.main-footer-text {
    color: rgba(66, 79, 87, 1);
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    padding-top: 50px;
}

p.footer-last-paragraph {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    padding-top: 100px;
    margin-bottom: 100px;
}

p span.footer-span {
    color: rgba(61, 60, 60, 1);
    letter-spacing: 0.8px;
    font-size: 16px;
}

a.footer-link {
    text-decoration: none;
}